<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziyawang.ziya">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseActivity"
            android:configChanges="navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindPwdActivity"
            android:screenOrientation="portrait" />

        <!-- 分享配置的信息 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105485137" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="AuthorizeAdapter"
                android:value="com.ziyawang.ziya.adapter.ShareAdapter" />

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.FindInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailsFindInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailsFindServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- 会话界面 -->
        <activity
            android:name=".activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.ziyawang.ziya"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 聚合会话列表 -->
        <activity
            android:name=".activity.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.ziyawang.ziya"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.DemoNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ReleaseDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ShowImageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageScale" />
        <activity
            android:name=".activity.PersonalInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoneyTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FromWhereActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RushPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MovieListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyReleaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyTeamWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyRushActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServicePartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MySetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchVideoActivity"
            android:screenOrientation="portrait" />

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 银联支付 sdk -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57b1225667e58ece28000118" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity android:name=".activity.SystemInformationActivity" />
        <activity android:name=".activity.DetailsSystemInfoActivity" />
        <activity android:name=".activity.BenBenActivity" />
        <activity android:name=".activity.MyGoldActivity" />
        <activity android:name=".activity.RechargeActivity" />
        <activity android:name=".activity.GoldDetailsActivity" />
        <activity android:name=".activity.GoldDetails02Activity" />
        <activity android:name=".activity.ChangeNickNameActivity" />
        <activity android:name=".activity.ReportActivity" />
        <activity
            android:name=".activity.InformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.ziyawang.ziya"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailsNewsActivity" />
        <activity android:name=".activity.EvaluateActivity_start" />
        <activity android:name=".activity.EvaluateActivity_ing" />
        <activity android:name=".activity.EvaluateActivity_end" />
        <activity android:name=".activity.EvaluateResultActivity" />
        <activity android:name=".activity.EvaluateActivity_ing02" />
        <activity
            android:name=".activity.PublishAssetsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.PublishPersonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.PublishCompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.PublishFinanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.PublishRuleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.PublishFixedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.V2DetailsFindInfoActivity" />
        <activity android:name=".activity.V2FindInfoActivity" />
        <activity android:name=".activity.VipCenterActivity" />
        <activity android:name=".activity.VipRechargeActivity" />
        <activity android:name=".activity.KnowPowerActivity" />
        <activity android:name=".activity.VipRecordActivity" />
        <activity android:name=".activity.StarRegisterActivity" />
        <activity android:name=".activity.StarRegisterActivity01_03" />
        <activity android:name=".activity.StarRegisterActivity04" />
        <activity android:name=".activity.StarRegisterActivity05" />
        <activity
            android:name=".activity.DetailsStarRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.Image216Activity"
                  android:screenOrientation="portrait"
                  android:theme="@style/ImageScale">
        </activity>
    </application>

</manifest>